body {
  font-family: $main-font;
  font-weight: 500;
  color: $black-text-cl;
  background-color: #ffffff;
  // padding-top: 72px;

  // &.modal-open {
  //   overflow: hidden;
  // }

  // &.no-scroll {
  //   overflow: hidden;
  // }
}
