.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $mobile) {
    width: 320px;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}


