:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;

  /* colors */
  --main-txt-cl: #000000;
  --white-txt-cl: #ffffff;
  --focus-cl: #ff001b;
  --orange-cl: #ff6b08;
  --footer-txt-cl: #545454;
  --footer-backgr-cl: #f7f7f7;

  /* other */
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
