<footer class="footer">
  <div class="container footer__container--flex">
    <p class="footer__copyright footer__text"> &#169 2022 | All Rights Reserved |</p> 
    <p class="footer__reference footer__text"> Developed with <svg class="heart__icon" width="14" height="13">
    <use href="../src/images/svg/icons-min.svg#icon-heart"></use>
    </svg> by 
      <a class="footer__link js-team-modal-open" href="" target="_blank" rel="noopener noreferrer">GoIT Students Extreme&nbsp;coders (Group #06)</a>
    </p>
  </div>
</footer>
