<!--section Header -->
<header class="header header__home">
  <div class="container">
    <nav class="header__nav">
      <a class="logo" href="/src/index.html">
        <svg class="logo__icon" width="24px" height="24px">
          <use href="./images/svg/icons.svg#icon-film"></use>
        </svg>
        <h2 class="logo__title">Filmoteka</h2>
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/src/index.html" class="header__nav-link active">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="/src/library.html" class="header__nav-link">My library</a>
        </li>
        <!-- SIGN-IN -->

        <button type="button" class="header__nav-item sign-in__button">
          <span class="header__nav-signIn">Sign in</span>
          <svg
            id="icon-signin"
            class="sign-in__icon"
            width="24px"
            height="24px"
          >
            <use href="./images/svg/icons.svg#icon-user"></use>
          </svg>
          <svg
            id="icon-logout"
            class="sign-in__icon sign-in__icon--logout"
            width="24px"
            height="24px"
          >
            <use href="./images/svg/icons.svg#icon-logout"></use>
          </svg>
        </button>

        <!--  -->
      </ul>
    </nav>
    <form action="" class="header__form">
      <lable class="header__form-lable"
        ><input
          type="text"
          class="header__form-input"
          placeholder="Movie search"
      /></lable>
      <button class="header__form-btn" type="submit">
        <svg class="header__form-btn--icon" width="12px" height="12px">
          <use href="./images/svg/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
