<!--section Header -->
<header class="header header__home">
  <div class="container">
    <nav class="header__nav">
      <a class="logo" href="/src/index.html">
        <svg class="logo__icon" width="24px" height="24px">
          <use href="./images/svg/icons.svg#icon-film"></use>
        </svg>
        <h2 class="logo__title">Filmoteka</h2>
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/src/index.html" class="header__nav-link active">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="/src/library.html" class="header__nav-link">My library</a>
        </li>
      </ul>
    </nav>
    <form action="" class="header__form">
      <lable class="header__form-lable"
        ><input
          name="searchQuery"
          type="text"
          class="header__form-input"
          placeholder="Movie search"
      /></lable>
      <button class="header__form-btn" type="submit">
        <svg class="header__form-btn--icon" width="13px" height="13px">
          <use href="./images/svg/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
