<div class="backdrop is-hidden" data-modal-group>
  <div class="modal">
    <button class="modal-close" data-modal-close>
      <svg class="button-close_icon">
        <use href="./images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Group#06</h2>
    <ul class="list card">
      <li class="item card__item">
        <a
          href="https://github.com/Kyrylo-Dovgalin"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img
              src="./images/modal-group/dovgalin.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Кирило<br />Довгалін</h2>
            <p class="card__desc">Team lead</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://github.com/NatashaChupryna"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img
              src="./images/modal-group/chiprina.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Наталія<br />Чіприна</h2>
            <p class="card__desc">Scrum master</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://github.com/ViktoriiaMoskalenko"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img
              src="./images/modal-group/moskalenko.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Модальне вікно з інформацією про учасників команди.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Вікторія<br />Москаленко</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://github.com/Oleg-Strong"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img
              src="./images/modal-group/evdokimov.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Олег<br />Євдокимов</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://github.com/SvetlanaPopenko"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img
              src="./images/modal-group/popenko.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Світлана<br />Попенко</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/vodopan.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Валентин<br />Водопян</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/meshechek.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Віталій<br />Мешечок</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/reshta.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Ірина<br />Решта</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/savitskiy.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Марк<br />Савицький</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/tereshchenko.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Влад<br />Терещенко</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/dzug.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Марина<br />Дзуг</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/burdin.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Денис<br />Бурдін</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/kalenchenko.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Гліб<br />Каленченко</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link" target="_blank" rel="noopener noreferrer">
          <div class="card__overflow">
            <img
              src="./images/modal-group/bredis.png"
              alt=""
              class="card-photo"
            />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Олена<br />Бредіс</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
