<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close" data-modal-close>X</button>
    <div class="simple-slider simple-slider-first">
      <div class="slider-wrapper">
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position1</p>
          <p>Realization</p>
        </div>

        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position2</p>
          <p>Realization</p>
        </div>

        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position3</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position4</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position5</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position6</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position7</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position8</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position9</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position10</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position11</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position12</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position13</p>
          <p>Realization</p>
        </div>
        <div class="slider-slide">
          <img src="./images/header/home-bg/home-mobile-bg.jpg" />
          <h3>FirstName LastName</h3>
          <p>Position14</p>
          <p>Realization</p>
        </div>
      </div>

      <div class="slider-btn slider-btn-prev"></div>
      <div class="slider-btn slider-btn-next"></div>
    </div>
  </div>
</div>
