<div class="backdrop is-hidden" data-modal-group>
  <div class="modal">
    <button class="modal-close" data-modal-close>X</button>
    <h2 class="modal-title">Group#06</h2>
    <ul class="list card">
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a href="" class="card__link">
          <div class="card__overflow">
            <img src="./images/header/home-bg/home-mobile-bg.jpg" alt="" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Firstname Lastname</h2>
            <p class="card__desc">Position</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
