<section class="slides">
  <h2 class="title-trailer">WATCH TRAILERS</h2>
<div class="movies-container container">
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides"></ul>
<div class="glide__arrows" data-glide-el="controls">
  <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
    <svg class="glider-prev" width="30" height="30">
      <use href="./images/svg/icons.svg#icon-backward"></use>
    </svg>
  </button>
  <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
    <svg class="glider-next" width="40" height="30">
      <use href="./images/svg/icons.svg#icon-forward"></use>
    </svg>
  </button>
</div>
</div>
</div>
</div>
</section>