<div class="signIn__modal">
  <div class="signIn__wrapper">
    <h2 class="signIn-form__title">Sign In</h2>
    <form action="" class="signIn__form">
      <lable class="signIn-form__lable"
        ><input
          type="email"
          id="email"
          class="signIn-form__input"
          placeholder="Email"
          autocomplete="off"
      /></lable>
      <lable class="signIn-form__lable"
        ><input
          id="password"
          type="password"
          class="signIn-form__input"
          placeholder="Password"
          autocomplete="off"
      /></lable>
      <button type="button" class="signIn-form__forgott-pass" id="forgott-pass">
        Forgot password?
      </button>
      <button
        type="submit"
        class="signIn-form__button"
        id="signIn-form__button"
      >
        Sign In
      </button>

      <span class="signIn-form__text">New to TeamFlix?</span>
      <button type="button" class="signUp__button" id="signUp__button">
        Sign up!
      </button>
    </form>
  </div>
</div>
