.header {
  padding-top: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $background-header-cl;

  &__home {
    padding-bottom: 92px;

    background-image: linear-gradient(
        to right,
        $background-header-cl,
        $background-header-cl
      ),
      url(../images/header/home-bg/home-mobile-bg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $background-header-cl,
          $background-header-cl
        ),
        url(../images/header/home-bg/home-mobile-bg-@2x.jpg);
    }

    @media screen and (min-width: $tablet) {
      padding-bottom: 80px;
      background-image: linear-gradient(
          to right,
          $background-header-cl,
          $background-header-cl
        ),
        url(../images/header/home-bg/home-tablet-bg.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            $background-header-cl,
            $background-header-cl
          ),
          url(../images/header/home-bg/home-tablet-bg-@2x.jpg);
      }
    }

    @media screen and (min-width: $desktop) {
      background-image: linear-gradient(
          to right,
          $background-header-cl,
          $background-header-cl
        ),
        url(../images/header/home-bg/home-desctop-bg.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            $background-header-cl,
            $background-header-cl
          ),
          url(../images/header/home-bg/home-desctop-bg-@2x.jpg);
      }
    }
  }

  &__library {
    padding-bottom: 62px;

    background-image: linear-gradient(
        to right,
        $background-header-cl,
        $background-header-cl
      ),
      url(../images/header/library-bg/library-mobile-bg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $background-header-cl,
          $background-header-cl
        ),
        url(../images/header/library-bg/library-mobile-bg-@2x.jpg);
    }

    @media screen and (min-width: $tablet) {
      padding-bottom: 60px;
      background-image: linear-gradient(
          to right,
          $background-header-cl,
          $background-header-cl
        ),
        url(../images/header/library-bg/library-tablet-bg.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            $background-header-cl,
            $background-header-cl
          ),
          url(../images/header/library-bg/library-tablet-bg-@2x.jpg);
      }
    }

    @media screen and (min-width: $desktop) {
      background-image: linear-gradient(
          to right,
          $background-header-cl,
          $background-header-cl
        ),
        url(../images/header/library-bg/library-desctop-bg.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            $background-header-cl,
            $background-header-cl
          ),
          url(../images/header/library-bg/library-desctop-bg-@2x.jpg);
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    gap: 40px;
    // sign-in
    align-items: center;
  }

  &__nav-link {
    position: relative;

    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $white-text-cl;
    transition: text-shadow $cubic;
    &:focus,
    &:hover {
      text-shadow: 0 0 5px $warning-text-cl, 0 0 10px$warning-text-cl,
        0 0 15px $warning-text-cl, 0 0 20px $accent-text-cl,
        0 0 30px $accent-text-cl, 0 0 40px $accent-text-cl,
        0 0 55px $accent-text-cl, 0 0 75px $accent-text-cl,
        0px 0px 16px rgba(255, 164, 72, 0);
    }
  }

  &__form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    @media screen and (min-width: $tablet) {
      margin-top: 40px;
      max-width: 336px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 394px;
    }
  }

  &__form-input {
    padding: 0px 30px 4px 4px;
    width: 100%;
    height: 20px;
    color: $white-text-cl;
    background-color: transparent;
    border: transparent;
    border-bottom: 0.5px solid $white-text-cl;
    transition: border-bottom $cubic;
    outline: none;
    &:hover,
    &:focus {
      border-bottom: 0.5px solid $accent-text-cl;
      &:hover::placeholder,
      &:focus::placeholder {
        text-shadow: 0 0 5px $warning-text-cl, 0 0 10px$warning-text-cl,
          0 0 15px $warning-text-cl, 0 0 20px $accent-text-cl,
          0 0 30px $accent-text-cl, 0 0 40px $accent-text-cl,
          0 0 55px $accent-text-cl, 0 0 75px $accent-text-cl,
          0px 0px 16px rgba(255, 164, 72, 0);
      }
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      transition: color $cubic;
      color: $white-text-cl;
    }
  }
  &__form-btn {
    position: absolute;
    width: 30px;
    height: 25px;
    bottom: 1px;
    right: 0;

    background-color: transparent;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
  }
  &__form-btn--icon {
    width: 100%;
    fill: $white-text-cl;
    transition: fill $cubic;
    .header__form-btn:hover &,
    .header__form-btn:focus & {
      fill: $accent-text-cl;
    }
  }
}

.active {
  &::before {
    content: '';
    position: absolute;
    bottom: -3px;

    width: 100%;
    height: 3px;

    background-color: $warning-text-cl;
    border-radius: 3px;
    box-shadow: 0px 5px 23px 3px $accent-text-cl;
    animation: Move;
    animation-duration: 1s;
  }
}

.logo {
  display: flex;
  align-items: center;
  @media screen and (min-width: $tablet) {
    gap: 8px;
  }
  @media screen and (min-width: $desktop) {
    gap: 10px;
  }

  &__title {
    display: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: $white-text-cl;
    transition: text-shadow $cubic;
    .logo:hover &,
    .logo:focus & {
      text-shadow: 0 0 5px $warning-text-cl, 0 0 10px$warning-text-cl,
        0 0 15px $warning-text-cl, 0 0 20px $accent-text-cl,
        0 0 30px $accent-text-cl, 0 0 40px $accent-text-cl,
        0 0 55px $accent-text-cl, 0 0 75px $accent-text-cl,
        0px 0px 16px rgba(255, 164, 72, 0);
    }
    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
  &__icon {
    animation: Bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: 0px 0px 25px 0px $accent-text-cl;
    fill: $white-text-cl;
  }
}

.library__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    gap: 32px;
  }
  @media screen and (min-width: $desktop) {
    gap: 16px;
  }
}
.library__btns-btn {
  padding: 13px 0 13px 0;
  min-width: 130px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;
  text-transform: uppercase;
  color: $white-text-cl;
  background-color: transparent;
  border: 1px solid $white-text-cl;
  border-radius: 5px;
  transition: box-shadow $cubic, border $cubic, background-color $cubic;
}
.library__btns-btn--active {
  outline: none;
  background-color: $background-accent-cl;
  border: 1px solid $background-accent-cl;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}
