body.no-scroll {
  overflow: hidden;
}

.backdrop-movie {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 940px;
  transform: translate(-50%, -50%);
  background-color: $white-text-cl;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 30px;
  z-index: 100;


  @media screen and (min-width: $tablet) {
    width: 704px;
    height: 552px;

  }

  @media screen and (min-width: $desktop) {
    width: 806px;
    height: 558px;

  }
}

.backdrop-movie.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

}

.modal-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 940px;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  border-radius: 20px;
  // border: 1px solid hsla(0,0%,100%,.3);

  @media screen and (min-width: $tablet) {
    width: 704px;
    height: 552px;

  }

  @media screen and (min-width: $desktop) {
    width: 806px;
    height: 558px;
    padding: 40px 12px;

  }
}

.backdrop-movie.is-hidden .modal-movie {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3) rotate(360deg);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0,0,0,.1);
  background-color: initial;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  transform: scale(1);
  transition: border-color $cubic, background-color $cubic, transform $cubic;

  &:hover,
  &:focus {
    background-color: $background-accent-cl;
    border-color: $background-accent-cl;
  }
}


.movie-card {
  display: flex;
  @media screen and (min-width: $mobile) {
    flex-direction: column;
    }

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }

}

.movie-card_request {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card_img-cover {
  position: relative;

}

.movie-card_photo {
  display: flex;

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    width: 240px;
    height: 357px;
    padding-top: 48px;
    margin-bottom: 20px;
  }


  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 264px;
    height: 374px;
    padding-left: 36px;
    padding-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    width: 375px;
    height: 478px;
  }
}

.button-open-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  // background: $background-accent-cl;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: $background-accent-cl;
}

.movie-description {
  display: block;
  @media screen and (min-width: $mobile) and (max-width: 767px) {
    padding-left: 20px;
    }

  @media screen and (min-width: $tablet) {
  display: flex;
  flex-direction: column;

  }
}

.movie-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-left: 68px;
    margin-top: 40px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 16px;
      }
}

.movie-table {
  @media screen and (min-width: $tablet) {
    margin-left: 68px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 16px;
      }
}

.movie-table_row {
  border-right: 41px solid transparent;

  @media screen and (min-width: $desktop) {
    border-right: 85px solid transparent;
  }
}

.movie-table_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $modal-text-cl;
}

.movie-about_container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $mobile) {
  width: 240px;
  height: auto;
  }

  @media screen and (min-width: $tablet) {
  width: 264px;
  height: auto;
  margin-left: 68px;
  }

  @media screen and (min-width: $desktop) {
  width: 391px;
  height: auto;
  margin-left: 16px;
  }

}

.movie-about {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
  margin-top: 20px;
}

.movie-about_text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  margin-bottom: 20px;

}

.movie-list {
  @extend %list;
  display: flex;
}


.movie-item:not(:last-child) {
  @media screen and (min-width: $mobile) and (max-width: 767px) {
    margin-right: 20px;
    }

  @media screen and (min-width: $tablet) {
  margin-left: 68px;
  margin-right: 15px;
  }

  @media screen and (min-width: $desktop) {
  margin-left: 16px;
  }
}

.movie-item_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;
  color: $black-text-cl;
  background-color: $white-text-cl;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  transition: background-color $cubic, color $cubic;

  &:hover,
  &:focus {
    background-color: $background-accent-cl;
    color: $white-text-cl;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
  width: 110px;
  height: 44px;
  }

  @media screen and (min-width: $tablet) {
  width: 125px;
  height: 44px;
  }

  @media screen and (min-width: $desktop) {
  width: 136px;
  height: 44px;
  }
}

