/*created by Kyrylo need to be fixed*/

.tui-pagination {
  padding-bottom: 200px; // to fix

  @media screen and (min-width: $tablet) {
    padding-bottom: 150px; // to fix
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 135px; // to fix
  }
}
