.sign-in__button {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-transform: uppercase;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    transition: text-shadow .25s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    &:focus,
    &:hover {
      text-shadow: 0 0 5px $warning-text-cl, 0 0 10px$warning-text-cl,
        0 0 15px $warning-text-cl, 0 0 20px $accent-text-cl,
        0 0 30px $accent-text-cl, 0 0 40px $accent-text-cl,
        0 0 55px $accent-text-cl, 0 0 75px $accent-text-cl,
        0px 0px 16px rgba(255, 164, 72, 0);
    }
   
  @media screen and (max-width: 767px) {
    margin: 0;
    padding: 0;
    border: none;
  }
  @media screen and (min-width: $tablet) {
    color: white;
    padding: 6px;
    padding-bottom: 5px;
    padding-left: 0;
    border: none;
    
  }
}
.sign-in__icon {
  fill: white;
  @media screen and (min-width: $tablet) {
    margin-left: 6px;
  }
}

.sign-in__icon--logout {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.signIn__wrapper {
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.623);
  padding: 10px;
  margin: 10px;
  @media screen and (min-width: $tablet) {
    padding: 40px;
    width: 450px;
  }
}

// .signIn__modal {
// }

.signIn__form {
  display: flex;
  flex-direction: column;
}
.signIn-form__title {
  color: #fff;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    font-size: 32px;
    margin-bottom: 28px;
  }
}
.signIn-form__lable {
  padding-bottom: 8px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 16px;
  }
}
.signIn-form__input {
  height: 40px;
  line-height: 30px;
  padding: 16px 20px;

  position: relative;
  width: 100%;
  background: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;

  @media screen and (min-width: $tablet) {
    height: 50px;
    line-height: 50px;
  }

  &::placeholder {
    font-size: 16px;
    color: #8c8c8c;
  }
}
.signIn-form__button {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  padding: 16px;
  margin-top: 12px;
  background: #e50914;
  display: inline-block;
  box-shadow: 0 1px 0 rgb(0 0 0 / 55%);
  color: #fff;
  @media screen and (min-width: $tablet) {
    margin: 20px 0 12px;
  }
}

.signIn-form__text {
  color: black;
  font-style: 12px;
  margin-top: 16px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
  }
}
.header__nav-signIn {
  display: none;
  @media screen and (min-width: 767px) {
    display: block;
  }
}

.signUp__button {
  background-color: rgba(255, 255, 255, 0.837);
  border: none;
  margin: 0 auto;
  margin-top: 4px;
  height: 30px;
  width: 50%;
  border-radius: 4px;
  @media screen and (min-width: $tablet) {
    height: 50px;
    margin-top: 6px;
  }
}

.signIn-form__forgott-pass {
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.basicLightbox__placeholder {
  @media screen and (max-width: 319px) {
    width: 100%;
  }
  @media screen and (min-width: $mobile) and (max-width: 767px) {
    width: 320px;
  }
}
